# Build results
BuyAndSellAnyThink/WebApplication1/bin/
BuyAndSellAnyThink/WebApplication1/obj/
BuyAndSellAnyThink/WebApplication1/out/

# Visual Studio files
BuyAndSellAnyThink/WebApplication1/.vs/
BuyAndSellAnyThink/WebApplication1/.vscode/
BuyAndSellAnyThink/WebApplication1/*.user
BuyAndSellAnyThink/WebApplication1/*.suo
BuyAndSellAnyThink/WebApplication1/*.userosscache
BuyAndSellAnyThink/WebApplication1/*.sln.docstates

# Rider
BuyAndSellAnyThink/WebApplication1/.idea/
BuyAndSellAnyThink/WebApplication1/*.sln.iml

# ASP.NET Scaffolding
BuyAndSellAnyThink/WebApplication1/ScaffoldingReadMe.txt

# User-specific files
BuyAndSellAnyThink/WebApplication1/*.user
BuyAndSellAnyThink/WebApplication1/*.userprefs

# Mono
BuyAndSellAnyThink/WebApplication1/mono_crash.*

# Windows image file caches
BuyAndSellAnyThink/WebApplication1/Thumbs.db
BuyAndSellAnyThink/WebApplication1/ehthumbs.db

# macOS
BuyAndSellAnyThink/WebApplication1/.DS_Store

# Linux
BuyAndSellAnyThink/WebApplication1/*~

# Logs
BuyAndSellAnyThink/WebApplication1/*.log

# NuGet
BuyAndSellAnyThink/WebApplication1/*.nupkg
BuyAndSellAnyThink/WebApplication1/packages/
BuyAndSellAnyThink/WebApplication1/*.snupkg
BuyAndSellAnyThink/WebApplication1/project.lock.json
BuyAndSellAnyThink/WebApplication1/project.fragment.lock.json
BuyAndSellAnyThink/WebApplication1/artifacts/

# DotCover
BuyAndSellAnyThink/WebApplication1/*.dotCover

# Test results
BuyAndSellAnyThink/WebApplication1/TestResults/
BuyAndSellAnyThink/WebApplication1/*.trx
BuyAndSellAnyThink/WebApplication1/*.coverage
BuyAndSellAnyThink/WebApplication1/*.coveragexml

# Publish
BuyAndSellAnyThink/WebApplication1/.publish/
BuyAndSellAnyThink/WebApplication1/*.pubxml
BuyAndSellAnyThink/WebApplication1/*.publishproj

# Azure Pipelines
BuyAndSellAnyThink/WebApplication1/.azdo/

# Global JetBrains Rider settings
BuyAndSellAnyThink/WebApplication1/.idea/

# Backup & temporary files
BuyAndSellAnyThink/WebApplication1/*.bak
BuyAndSellAnyThink/WebApplication1/*.tmp
BuyAndSellAnyThink/WebApplication1/*.swp

# Entity Framework Migrations snapshot
BuyAndSellAnyThink/WebApplication1/*Migrations/*.Designer.cs
BuyAndSellAnyThink/WebApplication1/*Migrations/*.resx

# Local secrets
BuyAndSellAnyThink/WebApplication1/secrets.json

# Resharper
BuyAndSellAnyThink/WebApplication1/_ReSharper*/
BuyAndSellAnyThink/WebApplication1/*.[Rr]e[Ss]harper

# Tye
BuyAndSellAnyThink/WebApplication1/.tye/

# # Docker files
# BuyAndSellAnyThink/WebApplication1/**/Dockerfile.*
# BuyAndSellAnyThink/WebApplication1/docker-compose.*

# # Others
# Generated_Code/
